# Project Description

Write a brief description of your project here. 

Note that projects should be self-sufficient, so make sure to provide enough information and context here for someone to understand what you are doing in your project, and why.

Recently, I got really into buying League of Ledgens related fan-arts, specifically metal badges. Because it is a very small community, !they have to rely on group chats on Instant Messengers. Even though there are programs that help with adding orders, it is not working for some reasons lately and people who organize them also need external tool like Excel. I decide to come up with my own program.

For example, this is to celebrate T1 Faker's great performance on the champion Zilean. The design incorporates many elements of this champion and the logo of the organization T1. There are usually people in the community who will initiate a project and other who are interested can also participate. They will talk to the factories about the design and making mold and samples. 
[IMG_5119.jpg](attachment:IMG_5119.jpg)

Each badges can have different colors or style -- the one I showed have the same design but in red and blue while some have glitters. By first inputing the number of color or style they have, the code can help you create a catalog of color and its price. Then the list of order can be create by inputing how much product in each color the customer wants. Because the fan art involve copyrights, they have to be non-profit. Hence, the fee of paying designer and making badges in the factory is splited among every customer who purchase the product. The returned list is the total price with splited fee. So the customer have to pay the split, including mold and design fee, delivery fee and actual price of the products. When customers make payment, by inputing how much they paid, a list of payment can be created. It does not have to be in the same order as the order list. Another list is created combing two lists if the customer ID is the same. It will send reminder to customer who does not pay the extract price. Since it is in a group chats, in the reminder part of comparing the order and payment, I use '@' so that they can directly copy and paste this in the group chats.

## Project Code

If it makes sense for your project, you can have code and outputs here in the notebook as well.

In [1]:
from my_module.functions import*

How many colors/style does this project have? 2

In [2]:
create_catalog()

What color/style it is? red
What is the price of product in this color/style? 12
What color/style it is? blue
What is the price of product in this color/style? 13
This is your catalog:

  color price
0   red    12
1  blue    13

In [3]:
create_order()

What is the ID of this customer? Cassie
How much red product is this customer purchasing?1
[{'selected color': 'red', 'product price': '12', 'amount purchased': '1'}]
How much blue product is this customer purchasing?1
[{'selected color': 'red', 'product price': '12', 'amount purchased': '1'}, {'selected color': 'blue', 'product price': '13', 'amount purchased': '1'}]
Would you like to add more order? (please eneter'yes' or 'no') yes
        price
Cassie   25.0
What is the ID of this customer? Amy
How much red product is this customer purchasing?2
[{'selected color': 'red', 'product price': '12', 'amount purchased': '2'}]
How much blue product is this customer purchasing?1
[{'selected color': 'red', 'product price': '12', 'amount purchased': '2'}, {'selected color': 'blue', 'product price': '13', 'amount purchased': '1'}]
Would you like to add more order? (please eneter'yes' or 'no') yes
        price
Cassie   25.0
Amy      37.0
What is the ID of this customer? Peter
How much red product is this customer purchasing?3
[{'selected color': 'red', 'product price': '12', 'amount purchased': '3'}]
How much blue product is this customer purchasing?0
[{'selected color': 'red', 'product price': '12', 'amount purchased': '3'}, {'selected color': 'blue', 'product price': '13', 'amount purchased': '0'}]
Would you like to add more order? (please eneter'yes' or 'no') no
        price
Cassie   25.0
Amy      37.0
Peter    36.0
What is the design fee?40
What is the mold fee?50
What is the amount of people spilting the fee?3
What is the delivery fee? 5
The splited fee for everyone is: 35.0

        price
Cassie   60.0
Amy      72.0
Peter    71.0

In [4]:
create_payment()

What is the ID of this customer that made payment? Peter
How much does Peter paid? 70
What is the ID of this customer that made payment? Amy
How much does Amy paid? 72
What is the ID of this customer that made payment? Cassie
How much does Cassie paid? 62
This is your list of payment:

        paid
Peter   70.0
Amy     72.0
Cassie  62.0

In [5]:
compare()

This is a list of orders and payment:

        price  paid
Cassie   60.0  62.0
Amy      72.0  72.0
Peter    71.0  70.0

In [6]:
reminder()

@Cassie, you paid extra 2.0. I will return the amount to you.
@Amy, thank you so much!
@Peter, please pay 1.0. Thank you for your support!

In [7]:
# test it out
#The entire code is difficult to test so I only test if it is callable 
#because of the first variable being a input and every functions are connected and continuous 
#I also have to use notebook not a textfile

#### Extra Credit (*optional*)

Replace all of this text with a brief explanation (~3 sentences) of: 
1. Your Python Background
2. How your project went above and beyond the requirements of the project and/or how you challenged yourself to learn something new with the final project

I have briefly learned about the basics of python but it is way less than what I have learned this course. For this project, I learned about using methods of DataFrame and global variable.